body{
    background-color: black;
    color: white;
}
.container{
    gap: 10px;
    height: 90vw;
}

.home{
    width: 23vw;
    background-color: #121212;
    height: 27vh;
    border-radius: 10px;

}

.library{
    background-color: #121212;
    width: 23vw;
    height: 60vw;
    border-radius: 10px;
}

.left{
    flex-direction: column;
    gap: 10px;
}
.right{
    width: 76vw;
    height: 90vw;
    background-color: #121212;
    border-radius: 10px;
}