body{
    background-color: black;
    color: white;
}
.container{
    gap: 10px;
    height: 90vw;
}

.home{
    width: 23vw;
    background-color: #121212;
    height: 27vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.library{
    background-color: #121212;
    width: 23vw;
    height: 60vw;
    border-radius: 10px;
}

.left{
    flex-direction: column;
    gap: 10px;
}
.right{
    width: 76vw;
    height: 90vw;
    background-color: #121212;
    border-radius: 10px;
}

.logo{
    width: 90px;
    padding: 20px;
}

.homebar img, .searchbar img{
    width: 25px;
}
.homebar, .searchbar{
    display: flex;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
